<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Minesweeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Minesweeper.Properties.Settings>
            <setting name="GAMES_PLAYED" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GAMES_WON" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MINES_FLAGGED" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TILES_REVEALED" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIME_SPENT_PLAYING" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="UPGRADE_REQUIRED" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DARK_MODE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FOREGROUND" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BACKGROUND" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="EASTER_EGG" serializeAs="String">
                <value>False</value>
            </setting>
        </Minesweeper.Properties.Settings>
    </userSettings>
</configuration>